::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: lightskyblue;
}

.s34j-card-shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
}

.s34j-cursor-pointer {
    cursor: pointer;
}

.s34j-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bg-white {
    background: white;
}

.s34j-icon {
    font-size: 18px;
}

.s34j-input-no-error .md-errors-spacer {
    height: 0 !important;
    min-height: 0 !important;
}

.s34j-top-progress {
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.s34j-top-progress .md-container {
    height: 2px;
}

.s34j-fixed-bottom-right {
    float: right;
    position: fixed;
    right: 10px;
    bottom: 10px;
}