<md-dialog ng-controller="NewFileController" aria-label="Create Bucket" style="width: 400px">
    <form name="newFileForm" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Upload file</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block s34j-input-no-error">
                    <label>Bucket Name</label>
                    <input type="text" name="bucketName" ng-readonly="true" ng-model="bucketName"/>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>File Name</label>
                    <input required type="text" name="newFileName" ng-model="newFileName"/>
                    <div ng-messages="createBucketForm.newFileName.$error">
                        <div ng-message="required">Please enter a value.</div>
                        <div ng-message="server">{{serverError}}</div>
                    </div>
                </md-input-container>
                <input id="newFileDialog_newFile" ng-model="newFile" type="file" style="display:none;"
                       onchange="angular.element(this).scope().fileChanged(this)"/>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button aria-label="Cancel" class="md-raised" ng-click="cancel();">
                <span>Cancel</span>
            </md-button>
            <md-button aria-label="Create" class="md-raised {{loading?'md-accent':'md-primary'}}"
                       ng-disabled="loading || !newFileName"
                       ng-click="uploadSelectedFile();">
                <span ng-show="!loading">Upload</span>
                <span ng-show="loading"><i class="fa fa-spinner fa-spin"></i></span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>