<md-toolbar class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="menu" ng-click="toggleSideNav('left');">
        <md-icon md-font-icon="fa fa-bars s34j-icon"></md-icon>
    </md-button>
    <h2 flex md-truncate>
        {{pageTitle}}
    </h2>
    <md-button class="md-icon-button" aria-label="settings" ng-if="s34j" ng-href="#!/settings">
        <md-icon md-font-icon="fa fa-cog s34j-icon"></md-icon>
    </md-button>
    </div>
</md-toolbar>
<md-progress-linear ng-if="loading" md-mode="indeterminate" style="margin-top:-3px;"></md-progress-linear>