<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button hide-gt-md" aria-label="Buckets" ng-click="toggleSideNav('left');">
            <md-icon md-font-icon="fa fa-bars" style="font-size: 18px;"></md-icon>
        </md-button>
        <h2 flex md-truncate>S34J Management Console</h2>

        <md-button class="md-icon-button" aria-label="Status" ng-click="toggleSideNav('right');">
            <md-icon md-font-icon="fa fa-server" style="font-size: 18px;"></md-icon>
        </md-button>
    </div>
</md-toolbar>