<md-sidenav layout="column" md-component-id="left" class="md-sidenav-left" flex>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Buckets" ng-click="toggleSideNav('left');">
                <md-icon md-font-icon="fa fa-angle-left s34j-icon"></md-icon>
            </md-button>
            <h2 flex md-truncate>Menu</h2>
        </div>
    </md-toolbar>
    <section flex layout="column" style="overflow: hidden;">
        <md-list style="padding-bottom: 0;margin-bottom: 0;">
            <md-list-item ng-show="buckets.length">
                <md-icon md-font-icon="fa fa-search s34j-icon"></md-icon>
                <md-input-container class="s34j-input-no-error" flex>
                    <label>Buckets</label>
                    <input type="text" ng-model="$root.sideNavFilter">
                </md-input-container>
            </md-list-item>
        </md-list>
        <md-list flex style="overflow-y: scroll;padding-top:0;margin-top:0;">
            <md-list-item ng-repeat="bucket in buckets | filter : $root.sideNavFilter "
                          ng-href="#!/s3/{{bucket.Name}}"
                          ng-click="toggleSideNav('left');">
                <md-icon md-font-icon="fa fa-cloud"></md-icon>
                <p style="white-space: nowrap;">{{bucket.Name}}</p>
            </md-list-item>
        </md-list>
    </section>
    <md-list>
        <md-subheader class="md-no-sticky">{{accessKey}}</md-subheader>
        <md-list-item ng-href="#!/home" ng-click="toggleSideNav('left');">
            <md-icon md-font-icon="fa fa-home s34j-icon"></md-icon>
            <p>Home</p>
        </md-list-item>
        <md-list-item ng-show="s34j" ng-href="#!/settings" ng-click="toggleSideNav('left');">
            <md-icon md-font-icon="fa fa-cogs s34j-icon"></md-icon>
            <p>Settings</p>
        </md-list-item>
        <md-list-item ng-click="logout();">
            <md-icon md-font-icon="fa fa-sign-out-alt s34j-icon"></md-icon>
            <p>Logout</p>
        </md-list-item>
    </md-list>
</md-sidenav>