<div ng-controller="BucketController">
    <section ng-show="buckets" layout="column" layout-gt-sm="row" flex>
        <section layout="column" class="bg-white s34j-card-shadow" flex="70" layout-margin
                 style="max-height: calc( 100% - 20px );overflow-x: hidden;">
            <md-list style="padding-bottom: 0;margin-bottom: 0;">
                <md-list-item ng-show="!isSelecting()">
                    <md-input-container class="s34j-input-no-error" flex>
                        <label>Prefix</label>
                        <input type="text" ng-model="prefix" ng-keypress="onPrefixKeyPress($event);">
                    </md-input-container>
                </md-list-item>
                <md-list-item ng-show="isSelecting()" style="height: 70px">
                    <md-button class="md-icon-button md-primary" aria-label="select all" ng-click="selectAll();">
                        <md-icon md-font-icon="far fa-check-square s34j-icon"></md-icon>
                    </md-button>
                    <div class="md-list-item-text" layout="row">
                        <p hide-xs> {{selectCount()}} selected.</p>
                        <md-button class="md-accent">
                            <md-icon md-font-icon="fa fa-trash"></md-icon>
                            <span>Delete</span>
                        </md-button>
                    </div>
                    <md-button class="md-icon-button md-secondary" aria-label="de-select all" ng-click="selectNone();">
                        <md-icon md-font-icon="fa fa-times s34j-icon"></md-icon>
                    </md-button>
                </md-list-item>
            </md-list>
            <md-list class="md-dense" style="overflow-y: scroll;padding-top:0;margin-top:0;">
                <md-list-item ng-if="shouldShowParent()"
                              ng-href="#!/s3/{{bucketName}}/{{getParent(prefix)}}">
                    <md-button class="md-icon-button" aria-label="icon"
                               ng-href="#!/s3/{{bucketName}}/{{getParent(prefix)}}">
                        <md-icon md-font-icon="fa fa-folder-open s34j-icon"></md-icon>
                    </md-button>
                    <p>...</p>
                </md-list-item>
                <md-list-item ng-repeat="commonPrefix in commonPrefixes"
                              ng-href="#!/s3/{{bucketName}}/{{commonPrefix.Prefix}}">
                    <md-button class="md-icon-button" aria-label="icon"
                               ng-href="#!/s3/{{bucketName}}/{{commonPrefix.Prefix}}">
                        <md-icon md-font-icon="fa fa-folder-open s34j-icon"></md-icon>
                    </md-button>
                    <p>{{hidePrefix(commonPrefix.Prefix)}}</p>
                </md-list-item>
                <md-list-item ng-repeat="object in objects" class="md-2-line" ng-click="selectObjectClicked(object);"
                              ng-dblclick="openMenu(object, $index)">
                    <md-button class="md-icon-button" aria-label="menu" ng-click="selectObjectClicked(object);">
                        <md-icon md-font-icon="{{getIcon(object.Key)}} s34j-icon"></md-icon>
                    </md-button>
                    <div class="md-list-item-text" layout="column" style="max-width: calc(100% - 50px);">
                        <span class="s34j-truncate" style="font-size: 15px;">
                            {{hidePrefix(object.Key)}}
                        </span>
                        <p>
                            <small>{{object.LastModified | date:'medium' }}</small>
                            <span style="color:#3f51b5">{{ object.Size | bytes:2 }}</span>
                            <md-menu style="float:right;">
                                <md-button class="md-icon-button" ng-click="menuClicked($mdMenu,$event,object);"
                                           ng-attr-id="{{'menu-'+$index}}" style="width: 24px;height: 24px;padding:0;">
                                    <md-icon md-font-icon="fa fa-caret-down"></md-icon>
                                </md-button>
                                <md-menu-content>
                                    <md-menu-item>
                                        <md-button ng-click="openObjectClicked(object);">
                                            <md-icon md-font-icon="fa fa-eye"></md-icon>
                                            Open
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="selectObjectClicked(object);">
                                            <md-icon md-font-icon="far fa-check-square"></md-icon>
                                            Select
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="copyLink(object);" class="md-primary">
                                            <md-icon md-font-icon="fa fa-link"></md-icon>
                                            Direct Link
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="copyLink(object,true);" class="md-primary">
                                            <md-icon md-font-icon="fa fa-external-link-alt"></md-icon>
                                            Signed Link
                                            <small>(expires in 7 days.)</small>
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button class="md-accent">
                                            <md-icon md-font-icon="fa fa-trash"></md-icon>
                                            Delete
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </p>
                    </div>
                </md-list-item>
                <md-list-item ng-show="isTruncated && !loading">
                    <md-button class="md-warn" ng-click="loadMore();" style="width: 100%;">Load more</md-button>
                </md-list-item>
            </md-list>
        </section>
        <section layout="column" flex-gt-sm="35">
            <connection-info></connection-info>
            <div style="height:50px"></div>
        </section>
    </section>
    <md-fab-speed-dial class="s34j-fixed-bottom-right">
        <md-fab-trigger>
            <md-button ng-click="showNewFileDialog();" aria-label="add"
                       class="md-fab md-warn s34j-cursor-pointer">
                <md-tooltip md-direction="top">Upload File</md-tooltip>
                <md-icon md-font-icon="fa fa-plus"></md-icon>
            </md-button>
        </md-fab-trigger>
    </md-fab-speed-dial>
</div>
